html, body {
  height: 100%;
  margin: 0; }

#wrapper {
  min-height: calc(100vh - 145px);
  border-bottom: 15px solid #cbf4cb; }

.container {
  width: 1200px; }

.clear {
  clear: both; }

header.header {
  width: 100%;
  position: relative;
  background: #fff;
  min-height: 90px; }
  header.header .container {
    padding-top: 20px; }

.slider-line {
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  position: relative; }

#content {
  background: #cbf4cb;
  min-height: calc(100vh - 236px);
  padding-top: 10px; }

footer.footer {
  height: 130px;
  border-top: 15px solid #487748;
  background: #000; }

.item {
  margin-top: 5px;
  overflow: hidden; }
  .item h3 {
    color: #435d43;
    font-size: 25px;
    margin: 18px 0 0 10px; }
  .item .content {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 16px;
    line-height: 150%;
    color: #000; }
    .item .content p {
      margin: 0 0 10px; }
  .item .gc_icon {
    padding: 5px 5px 0 5px; }

/* Datum */
.date_start, .date_end {
  background: #435d43;
  width: 45px;
  height: 45px;
  font-size: 12px;
  font-weight: bold;
  color: #cbf4cb; }
  .date_start p, .date_end p {
    margin: 0;
    padding: 0 2px 0 2px;
    line-height: 125%; }

/* Errors */
.error_list {
  background: #491217;
  list-style-type: none; }
  .error_list li {
    color: #fff;
    padding: 2px 0; }

/* Box */
.size-a {
  width: 32.6%; }

.size-b {
  width: 100%; }

.box {
  background: #435d43;
  height: 120px;
  margin-bottom: 5px; }
  .box p {
    padding-top: 5px; }
  .box a:hover, .box a:link, .box a:visited {
    color: #cccccc; }

/* Pagination */
ul.pagination {
  margin: 0;
  padding-bottom: 10px; }

/* Form */
.form-control {
  border-radius: 0; }

.form-details {
  color: #666;
  padding: 10px 10px 20px 15px;
  width: 100%; }
  .form-details .form-row {
    text-align: left;
    width: 100%; }
    .form-details .form-row .input-group {
      padding: 0 15px; }

.form-details-bg {
  background: #f2f6f2 none repeat scroll 0 0;
  border: 1px solid #eeeeee; }

label.control-label {
  padding-top: 7px;
  margin-bottom: 0;
  text-align: right;
  font-weight: bold; }

.input-label {
  width: 100%;
  font-size: 13px;
  padding-left: 15px;
  line-height: 20px;
  color: #7b7b7b;
  text-align: left; }

/* Buttons */
.btn {
  border-radius: 0;
  margin-right: 5px; }

.top-buttons {
  margin-bottom: 10px; }

/*# sourceMappingURL=style.css.map */
