
#wrapper{
    min-height: 100%;
    position: relative;
}

#header{
    width: 100%;
    background: #fff;
    position: relative;
}

.container{
    position: relative;
    margin: 0 auto;
    max-width: 1024px;
    padding-left: 5px;
    padding-right: 5px;
    min-height: 100%;
}

header{
    height: 100px;
    margin: 0;
    padding: 0;
}

section#articles img{
    width: 200px;
    height: auto; 
    margin-right: 10px;
}

section#articles h2{
    font-size: 21px;
    margin:0;
}

.article_info{
    color: #777;
    font-size: 15px;
}

section#articles .item{
    padding: 10px;
}

.item{
    background: #f2f6f2;
    border: 1px solid #eee;
}